* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */

.container {
    padding: 0;
    margin: auto;
    max-width: 80%;
}

/* Utilities */


/* BODY */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
.titleheader {
    font-size: 40px;
    padding: 15px 0;
    text-align: center;
}

/* Main */

.list-actress {
    list-style-type: none;
}

.boxCard{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    padding: 15px;
    border: 1px solid black;
    width: 300px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1 ;
    object-fit: cover;
    object-position: top;
}

.sectionCelebrityTitle{
    
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 40px;
}

/* Card-details */

.actressName {
    font-size: 25px;
    margin-bottom: 20px;
}

.biography {
    margin-top: 20px;
    margin-bottom: 30px;
}

.birthyear {
    font-style: italic;
    margin-bottom: 10px;
}

.nationality {
    margin-bottom: 10px;
}

.awards {
    color: rgba(202, 52, 52, 0.897);
}
